@inherits StateComponentBase

<div class="catalog-box-available">
    <MatHeadline5>Available Catalogs</MatHeadline5>

    @if (this.AppState.CatalogState != null)
    {
        <ul>
            @foreach (var catalogContainer in this.UserState.CatalogContainersInfo.Accessible.Concat(this.UserState.CatalogContainersInfo.Restricted))
            {
                <li @onclick="() => this.UserState.CatalogContainer = catalogContainer">
                    <div class="catalog-item @(this.UserState.CatalogContainer?.Id == catalogContainer.Id ? "active" : "")">
                        <div class="catalog-item-name">
                            @catalogContainer.Id.TrimStart('/').Replace("/", " / ")
                            @if (this.UserState.CatalogContainersInfo.Restricted.Contains(catalogContainer))
                            {
                                @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                                <MatTooltip Tooltip="You do not have access to this catalog." Wrap="true" Position="MatTooltipPosition.Top">
                                    <span>&nbsp; &nbsp;<i class="fas fa-lock"></i></span>
                                </MatTooltip>
                            }
                            else if (catalogContainer.CatalogMetadata.IsQualityControlled)
                            {
                                @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                                <MatTooltip Tooltip="This catalog is quality controlled." Wrap="true" Position="MatTooltipPosition.Top">
                                    <span>&nbsp; &nbsp;<i class="fas fa-check-circle quality-controlled"></i></span>
                                </MatTooltip>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="ml-15px flex-centered-vertically h-100"><i class="pulsate-css"></i>&nbsp;&nbsp; Initializing ...</div>
    }
</div>
<div class="catalog-box-selected">

    @if (this.Catalog != null)
                        {
        <MatHeadline5>@this.UserState.CatalogContainer.Id.TrimStart('/').Replace("/", " / ")</MatHeadline5>
        <p class="long-description small-text">
            @if (this.Catalog.Properties is not null)
            {
                <p class="long-description small-text">
                    @this.Catalog.Properties.GetValueOrDefault("Description", "<no description available>")
                </p>
            }
            else
            {
                <p class="long-description small-text">
                    &lt;no description available&gt;
                </p>
            }
        </p>
        <div class="catalog-box-selected-footer">
            <div class="catalog-box-selected-footer-date">
                <b>Start:&nbsp;</b> @this.Begin.ToString("dd.MM.yyyy") &nbsp;&nbsp;&nbsp; <b>End:&nbsp;</b> @this.End.ToString("dd.MM.yyyy")
            </div>

            @if (this.UserState.CatalogContainersInfo.Accessible.Contains(this.UserState.CatalogContainer))
            {
                <div class="catalog-box-selected-footer-icons">
                    @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                    <MatTooltip Tooltip="Availability" Position="MatTooltipPosition.Top" Wrap="true">
                        <MatIconButton Class="@(this.UserState.ClientState == ClientState.Availability ? "selected" : "")" Icon="@MatIconNames.Bar_chart" OnClick="this.UserState.ToggleAvailability" />
                    </MatTooltip>

                    @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                    @if (this.UserState.Attachments != null && this.UserState.Attachments.Any())
                    {
                        <MatTooltip Tooltip="Attachments" Position="MatTooltipPosition.Top" Wrap="true">
                            <MatIconButton Icon="@MatIconNames.Attach_file" OnClick="this.OpenAttachmentsDialog" />
                        </MatTooltip>
                    }
                </div>

                <AttachmentsModal @bind-IsOpen="this.AttachmentsDialogIsOpen" />
            }
        </div>
    }
    else
    {
        <span class="small-text">no catalog selected</span>
    }
</div>