<div class="resource-expander" @onclick="this.OnClick" @onmouseover="() => _showAdditionalInfo = true" @onmouseout="() => _showAdditionalInfo = false">
    <div class="resource-name">

        @if (this.UserState.IsEditEnabled)
        {
            <span>@this.Resource.Name&nbsp;</span><input type="text" @bind-value="this.Resource.Unit" />
        }
        else
        {
            @if (string.IsNullOrWhiteSpace(this.Resource.Unit))
            {
                @this.Resource.Name
            }
            else
            {
                <span>@this.Resource.Name&nbsp;</span><span class="small-text">@this.Resource.Unit</span>
            }
        }

        <div class="resource-special-info">
            @if (this.UserState.IsEditEnabled)
            {
                <input type="text" @bind-value="this.Resource.SpecialInfo" />
            }
            else
            {
                @if (!string.IsNullOrWhiteSpace(this.Resource.SpecialInfo))
                {
                    <span><i class="fas fa-exclamation-triangle"></i></span>
                    @this.Resource.SpecialInfo
                }
            }
        </div>

        <div class="resource-sample-rates">
            @if (_showAdditionalInfo)
            {
                @foreach (var sampleRate in this.GetSampleRates())
                {
                    <div class="resource-sample-rate" @onclick="() => this.UserState.SampleRate = sampleRate">
                        @sampleRate
                    </div>
                }
            }
        </div>

        <div class="resource-representations ml-auto">
            @foreach (var representation in _filteredRepresentations)
            {
                <div class="resource-representation @(this.UserState.IsRepresentationSeleced(representation) ? "selected" : "")"
                     @onclick="() => this.UserState.ToggleRepresentationSelection(representation)">
                    @representation.Name
                </div>
            }
        </div>
    </div>
    <span class="resource-description">
        @if (this.UserState.IsEditEnabled)
        {
            <input type="text" @bind-value="this.Resource.Description" />
        }
        else
        {
            @this.Resource.Description
        }
    </span>
</div>