@inherits StateComponentBase

<div class="selected-resource-box-sub">
    <div class="selected-resources">
        @if (!this.UserState.SelectedRepresentations.Any())
        {
            <span class="small-text">no items selected</span>
        }
        else
        {
            @foreach (var representation in this.UserState.SelectedRepresentations)
            {
                <div class="selected-resource" 
                     @ondblclick="() => this.UserState.ToggleRepresentationSelection(representation)"
                     @onmouseover="() => _showCopyButton = true" 
                     @onmouseout="() => _showCopyButton = false">

                    <div class="flex-row flex-space-between">
                        <span class="selected-resource-name">@representation.Parent.Name (@representation.Name)</span>

                        @if (_showCopyButton)
                        {
                            @* Wrap is required due to https://github.com/SamProf/MatBlazor/issues/464. *@
                            <MatTooltip Tooltip="Copy to clipboard." Wrap="true" Position="MatTooltipPosition.Top">
                                <span @onclick="() => this.CopyPath(representation)">&nbsp;&nbsp;<i class="far fa-copy" /></span>
                            </MatTooltip>
                        }
                    </div>

                    <span class="selected-resource-catalog">@representation.Parent.Parent.Id.TrimStart('/').Replace("/", " / ")</span>
                </div>
            }
        }
    </div>

    <MatButton Icon="@MatIconNames.Cloud_download"
               OnClick="this.DownloadAsync"
               Outlined="true"
               Disabled="!this.UserState.CanDownload()"
               Label="@this.GetDownloadLabel()">
    </MatButton>

</div>