@if (Catalog.Id == ResourceCatalogViewModel.ROOT_CATALOG_ID)
{
    <div id="@Catalog.Id">
        @if (Catalog.Children is not null)
        {
            @foreach (var child in Catalog.Children)
            {
                <ResourceCatalogView Catalog="@child" />
            }
        }
    </div>
}
else
{
    <div id="@Catalog.Id" class="flex flex-col cursor-pointer select-none">

        @if (Catalog.IsSelected)
        {
            <a class="flex hover:bg-gray-300 rounded p-0.5 items-center" @onclick="() => Catalog.IsOpen = !Catalog.IsOpen">
                <span class="
                    text-xl 
                    mdi mr-1
                    @(Catalog.IsOpen 
                        ? "mdi-chevron-down"
                        : "mdi-chevron-right")
                    @(Catalog.Children is not null && !Catalog.Children.Any()
                        ? "invisible"
                        : "")">
                </span>

                <span class="font-bold text-cyan-700">
                    @Catalog.DisplayName
                </span>
            </a>
        }
        else
        {
            <a class="flex hover:bg-gray-300 rounded p-0.5 items-center" href="@Utilities.EscapeDataString(Catalog.Id)">
                <span class="
                    text-xl 
                    mdi mr-1
                    @(Catalog.IsOpen
                        ? "mdi-chevron-down"
                        : "mdi-chevron-right")
                    @(Catalog.Children is not null && !Catalog.Children.Any()
                        ? "invisible"
                        : "")">
                </span>

                <span>
                    @Catalog.DisplayName
                </span>
            </a>
        }

        @if (Catalog.IsOpen)
        {
            <div class="ml-3 flex flex-col">
                @if (Catalog.Children is not null)
                {
                    @foreach (var child in Catalog.Children)
                    {
                        <ResourceCatalogView Catalog="@child" />
                    }
                }
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public ResourceCatalogViewModel Catalog { get; set; } = default!;
}



