@implements IDisposable
@inject IAppState AppState

<div class="flex w-full">

    <div class="flex flex-col p-2 select-none w-36 sm:w-72">

        <UITextBox
            @bind-Value="AppState.SearchString"
            Label="Search"
            Icon="@_searchIcon"
            OnIconClick="() => AppState.SearchString = default"
            OnInput="true"
            DarkMode="false">
        </UITextBox>

        <div class="overflow-y-auto">
            @if (AppState.CatalogItemsMap is not null)
            {
                @foreach (var entry in AppState.CatalogItemsMap)
                {
                    @if (entry.Value == AppState.CatalogItems)
                    {
                        <div class="flex justify-between items-end py-0.5 px-1 cursor-pointer">
                            <UITooltip Tooltip="@entry.Key">
                                <span class="font-bold text-orange-500">@entry.Key</span>
                            </UITooltip>
                            <span class="text-sm text-gray-500">@entry.Value.Count</span>
                        </div>
                    }
                    else
                    {
                        <div class="group flex justify-between items-end py-0.5 px-1 cursor-pointer"
                            @onclick="() => AppState.CatalogItems = entry.Value">
                            <UITooltip Tooltip="@entry.Key">
                                <span class="group-hover:text-cyan-500 font-bold text-cyan-700">@entry.Key</span>
                            </UITooltip>
                            <span class="text-sm text-gray-500">@entry.Value.Count</span>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="flex-1 flex flex-col p-2 overflow-y-auto select-none">
        @if (AppState.CatalogItems is not null)
        {
            <Virtualize Items="AppState.CatalogItems" Context="catalogItem">
                <div class="group grid grid-cols-[1fr,auto] grid-rows-[auto,auto] p-1 cursor-pointer mb-2"
                    @onclick="() => AppState.Settings.ToggleCatalogItemSelection(catalogItem)">

                    <div class="flex items-center col-start-1 row-start-1 @(AppState.Settings.IsSelected(catalogItem) ? "text-orange-500" : "text-cyan-700 group-hover:text-cyan-500")">
                        <span class="font-bold whitespace-nowrap">
                            @catalogItem.Resource.Id&nbsp;:&nbsp;@Utilities.ToUnitString(catalogItem.Representation.SamplePeriod)
                        </span>
                        <span class="text-gray-500 whitespace-nowrap mx-2">@catalogItem.Unit</span>

                        @if (catalogItem.Warning is not null)
                        {
                            <UITooltip Tooltip="@catalogItem.Warning">
                                <span class="mdi mdi-alert ml-2 mr-1 text-orange-500"></span>
                                <span class="hidden sm:inline text-orange-500">@catalogItem.Warning</span>
                            </UITooltip>
                        }
                    </div>

                    <div class="col-start-1 row-start-2 truncate">
                        <UITooltip Tooltip="@catalogItem.Description">
                            <span class="text-sm text-gray-500">@catalogItem.Description</span>
                        </UITooltip>
                    </div>

                    <div class="col-start-3 row-start-1 row-span-2 invisible group-hover:visible">
                        <MetadataView Properties="catalogItem.Resource.Properties" />
                    </div>

                </div>
            </Virtualize>
        }
    </div>

</div>

@code {

    private PropertyChangedEventHandler _handler;
    private string _searchIcon = "magnify";

    public ResourceView()
    {
        _handler = (sender, e) => 
        {
            if (e.PropertyName == nameof(AppState.CatalogItemsMap))
                StateHasChanged();

            else if (e.PropertyName == nameof(AppState.SearchString))
            {
                _searchIcon = string.IsNullOrWhiteSpace(AppState.SearchString)
                    ? "magnify"
                    : "close";
            }

            else if (e.PropertyName == nameof(AppState.Settings.SelectedCatalogItems))
                StateHasChanged();
        };
    }

    protected override void OnInitialized()
    {
        AppState.PropertyChanged += _handler;
        AppState.Settings.PropertyChanged +=  _handler;
    }

    public void Dispose()
    {
        AppState.PropertyChanged -= _handler;
        AppState.Settings.PropertyChanged -= _handler;
    }
}

