@implements IDisposable
@inject IAppState AppState

<div class="flex w-full h-full">

    <div class="flex flex-col p-2 select-none w-36 sm:w-72">

        <UITextBox
            @bind-Value="AppState.SearchString"
            Label="Search"
            Icon="@_searchIcon"
            OnIconClick="() => AppState.SearchString = default"
            OnInput="true"
            DarkMode="false">
        </UITextBox>

        <div class="overflow-y-auto">
            @if (AppState.CatalogItemsMap is not null)
            {
                @foreach (var entry in AppState.CatalogItemsMap)
                {
                    @if (entry.Value == AppState.CatalogItemsGroup)
                    {
                        <div class="flex justify-between items-end py-0.5 px-1 cursor-pointer">
                            <span class="font-bold text-orange-500">@entry.Key</span>
                            <span class="text-sm text-gray-500">@entry.Value.Count</span>
                        </div>
                    }
                    else
                    {
                        <div class="group flex justify-between items-end py-0.5 px-1 cursor-pointer"
                            @onclick="() => SelectCatalogItemsGroupAsync(entry.Value)">
                            <span class="group-hover:text-cyan-500 font-bold text-cyan-700">@entry.Key</span>
                            <span class="text-sm text-gray-500">@entry.Value.Count</span>
                        </div>
                    }
                }
            }
        </div>
    </div>

    <div class="flex-1 p-2 h-full">
        <div class="overflow-y-auto select-none h-full">
            @if (AppState.CatalogItemsGroup is not null)
            {
                <Virtualize Context="catalogItemPair" ItemsProvider="LoadItems" @ref="_virtualizeComponent">
                    <div class="flex flex-wrap">

                        @foreach (var catalogItem in catalogItemPair)
                        {
                            <div class="w-full md:w-1/2 xl:w-full 2xl:w-1/4 group grid grid-cols-[1fr,auto] grid-rows-[auto,auto] px-2 cursor-pointer mb-2 hover:bg-gray-50 hover:shadow-lg"
                                @oncontextmenu="eventArgs => OpenContextMenu(eventArgs, catalogItem)" @oncontextmenu:preventDefault
                                @onclick="() => AppState.Settings.ToggleCatalogItemSelection(catalogItem)">

                                <div class="pt-1 min-w-0 flex items-center col-start-1 row-start-1 @(AppState.Settings.IsSelected(catalogItem) ? "text-orange-500" : "text-cyan-700 group-hover:text-cyan-500")">
                                    <span class="font-semibold truncate">
                                        @catalogItem.Resource.Id
                                    </span>
                                    <span class="whitespace-nowrap mx-2 text-gray-400">@catalogItem.Unit</span>
                                    @if (catalogItem.Warning is not null)
                                    {
                                        <UITooltip Tooltip="@catalogItem.Warning">
                                            <span class="mdi mdi-alert ml-2 mr-1 text-orange-500"></span>
                                        </UITooltip>
                                    }
                                    <span class="ml-auto whitespace-nowrap text-gray-400">
                                        @Utilities.ToUnitString(catalogItem.Representation.SamplePeriod)
                                    </span>
                                </div>

                                <div class="pb-1 col-start-1 row-start-2 min-w-0">
                                    <UIOverflowTooltip Tooltip="@catalogItem.Description" Class="text-sm truncate text-gray-400">
                                        @if (string.IsNullOrWhiteSpace(@catalogItem.Description))
                                        {
                                            <span>&nbsp;</span>
                                        }
                                        else
                                        {
                                            @catalogItem.Description
                                        }
                                    </UIOverflowTooltip>
                                </div>

                            </div>
                        }
                    </div>
                </Virtualize>
            }
        </div>
    </div>

</div>

<UIContextMenu @bind-IsOpen="_isContextMenuOpen" Top="_contextMenuTop" Left="_contextMenuLeft">
    <div class="bg-white w-60 border border-gray-300 rounded flex flex-col text-sm py-2 px-2 text-gray-500 shadow-lg">
        <div class="flex items-center hover:bg-gray-100 py-1 px-2 rounded cursor-pointer" @onclick="OpenMetadataModal">
            <span class="text-xl mdi mdi-code-json text-black mr-2"></span>
            <span>Metadata viewer</span>
        </div>
    </div>
</UIContextMenu>

@if (_contextMenuCatalogItem is not null)
{
    <MetadataView Properties="_contextMenuCatalogItem.Resource.Properties" @bind-IsOpen="_isMetadataViewOpen" />
}

@code {

    private Virtualize<List<CatalogItemViewModel>>? _virtualizeComponent;
    private PropertyChangedEventHandler _handler;
    private string _searchIcon = "magnify";
    private bool _isMetadataViewOpen = false;
    private bool _isContextMenuOpen = false;
    private double _contextMenuTop;
    private double _contextMenuLeft;
    private CatalogItemViewModel? _contextMenuCatalogItem;

    public ResourceView()
    {
        _handler = async (sender, e) => 
        {
            if (e.PropertyName == nameof(AppState.CatalogItemsMap))
            {                   
                if (_virtualizeComponent is not null)
                {
                    await _virtualizeComponent.RefreshDataAsync();
                    StateHasChanged();
                }
            }

            else if (e.PropertyName == nameof(AppState.SearchString))
            {
                _searchIcon = string.IsNullOrWhiteSpace(AppState.SearchString)
                    ? "magnify"
                    : "close";

                if (_virtualizeComponent is not null)
                    await _virtualizeComponent.RefreshDataAsync();
            }

            else if (e.PropertyName == nameof(AppState.Settings.SelectedCatalogItems))
            {
                StateHasChanged();
            }
        };
    }

    private async Task SelectCatalogItemsGroupAsync(List<CatalogItemViewModel> catalogItems)
    {
        AppState.CatalogItemsGroup = catalogItems;

        if (_virtualizeComponent is not null)
            await _virtualizeComponent.RefreshDataAsync();
    }

    private ValueTask<ItemsProviderResult<List<CatalogItemViewModel>>> LoadItems(ItemsProviderRequest request)
    {
        var catalogItemsGroup = AppState.CatalogItemsGroup;

        if (catalogItemsGroup is null)
            return ValueTask.FromResult(new ItemsProviderResult<List<CatalogItemViewModel>>(Enumerable.Empty<List<CatalogItemViewModel>>(), 0));

        var groupSize = 4;
        var total = (int)Math.Ceiling(catalogItemsGroup.Count / (double)groupSize);

        var source = catalogItemsGroup
            .Skip(request.StartIndex * groupSize)
            .Take(request.Count * groupSize);

        var index = 0;
        
        var groups = source
            .GroupBy(item =>
            {
                var result = index / groupSize;
                index++;
                return result;
            })
            .Select(group => group.ToList())
            .ToList();

        return ValueTask.FromResult(new ItemsProviderResult<List<CatalogItemViewModel>>(groups, total));
    }

    private void OpenMetadataModal()
    {
        _isMetadataViewOpen = true;
    }

    private void OpenContextMenu(MouseEventArgs args, CatalogItemViewModel catalogItem)
    {
        _contextMenuLeft = args.PageX;
        _contextMenuTop = args.PageY;
        _contextMenuCatalogItem = catalogItem;
        _isContextMenuOpen = true;
    }

    protected override void OnInitialized()
    {
        AppState.PropertyChanged += _handler;
        AppState.Settings.PropertyChanged +=  _handler;
    }

    public void Dispose()
    {
        AppState.PropertyChanged -= _handler;
        AppState.Settings.PropertyChanged -= _handler;
    }
}

